/* Reset dasar */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Quicksand, caveat;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

/* Header */
header {
    background-color: #FF0000;
    color: white;
    text-align: center;
    padding: 1rem 0;
  
}

header h1 {
    font-size: 2rem;
}

header p {
    font-size: 1.2rem;
}

/* Navigation */
nav {
    background-color: #FFFFFF;
    text-align: center;
    padding: 0.5rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav a {
    color: red;
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Section */
main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    font-size: 1.5rem;
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.photo-gallery {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.photo-gallery img {
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.photo-gallery img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem 0;
    font-size: 0.9rem;
}
