.carousel {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-images img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
